body{
  font-family: 'Montserrat', sans-serif;
  background-color: #691F2B;
  font-size: 1em;
  position: relative;
}

img{
  width: 100%;
  height: 100%;
}

.sectionTitle{
  color: white;
  font-weight: 700;
  font-size: 2em;
}
.subSections{
  color: white;
}

#index{
  box-sizing: border-box;
  width: 100%;
  height: 90vh;
  position: relative;
  padding-top: 7vh;
}

#logo{
  position: absolute;
  width: 100%;
  height: 85vh;
}
#logoImage{
  width: 20%;
  height: auto;
  margin-left: 41%;
  padding-top: 25px;
}
#introText{
  top: 5em;
  position: absolute;
  opacity: 0;
  transition: 0.1s ease;
  box-sizing: border-box;
  height: 10em;
  font-size: 1.5em;
  color: white;
  width: 50%;
  left: 25%;
}

#logo:hover #introText{
  opacity: 1;}
#logo:hover #logoImage{
  opacity: 0;
}

#downArrow{
  width:2em;
  height:auto;
  position: absolute;
  bottom: 0;
  left: 50%;
}


/*About Me Page*/
#about{
  box-sizing: border-box;
  padding-top: 2em;
  padding-left: 3em;
  margin-left: 10%;
  margin-right: 10%;
}

.grid-container-about {
  display: grid;
  grid-column-gap: 10%;
  padding: 10px;
  margin-right: 10%;
  grid-template-rows: auto auto;
  grid-template-columns: 45% 55%;
}
.grid-item {
  line-height: 1.5em;
  padding-top: 1em;
  text-align: left;
  color: #8A8A8A;
}
.background {
  grid-column: 1;
  grid-row: 1/span 2;
}
.education {
  grid-column: 2;
  grid-row: 1;
}
.skills {
  grid-column: 2;
  grid-row: 2;
}


/*Skills Page*/
ul{
  list-style: none;
}

#resume{
  display: inline-block;
  background-color: inherit;
  border: none;
  color: white;
  font-size: 1.1em;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
}
#resume a{
  text-decoration: none;
  color: white;
}
#resume span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#resume span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#resume:hover span {
  padding-right: 25px;
}
#resume:hover span:after {
  opacity: 1;
  right: 0;
}

/*Work Page*/
#workExp{
  box-sizing: border-box;
  padding-top: 3em;
  padding-left: 3em;
  margin-left: 10%;
  margin-right: 10%;
}
#workExp a{
  text-decoration: none;
  color: #691F2B;
}

.flex-container {
  display: flex;
  height: auto;
  align-items: flex-start;
}

.flex-container > div {
  width: auto;
  margin: 10px;
  line-height: 1.5em;
  padding-top: 1em;
  text-align: left;
  color: #8A8A8A;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
}

/* Container around content */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  width: 49%;
}

/* The circles on the timeline */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 99.5%;
  background-color: white;
  border: 4px solid #d97f8d;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0.5%;
}

/* Place the container to the right */
.right {
  left: 50.5%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -10px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #BCBCBC;
  position: relative;
  border-radius: 6px;
  font-size: 0.8em;
  padding-bottom: 2.5em;
  color: #2C3539;
}

span.moreInfoWork{
  opacity: 0;
  width: 100%;
  text-align: right;
  float: right;
}
.content:hover span{
  opacity: 1;
  transition: 0.7s;
  height: auto;
}

/*Projects Page*/
/*
#download{
  width: 1em;
  height: 1em;
}
*/

#projects{
  box-sizing: border-box;
  padding-top: 5em;
  margin-left: 10%;
  margin-right: 10%;
}

.grid-container-proj {
  display: grid;
  padding: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 60% 40%;
  height: auto;
  margin-left: 15%;
  margin-bottom: 5em;
}

#credTrackInfo, #theHiveInfo{
  padding-top: 2em;
  padding-right: 6em;
}

#credTrackImg, #theHiveImg{
  width: 90%;
  height: auto;
}

.carousel-inner{
    height: 515px;
}

/*Change arrow color (fill=)*/
.carousel-control-prev-icon {
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); */
    border: 1px solid #d97f8d;
    border-radius: 50%;
    padding: 10px;
    background-color: #782331;
}
.carousel-control-next-icon {
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); */
    border: 1px solid #d97f8d;
    border-radius: 50%;
    background-color: #782331;
}
.carousel-control-prev{
  margin-left: -50px;
}
.carousel-control-next{
  margin-right: -50px;
}

/*Language Badges*/
#codeHTML, #codeCSS, #codeJavascript, #codeJQuery, #codeJava, #codePython, #codeMySql{
  /* box-shadow: 0.18em 0.18em 0.1em gray; */
  font-size: 0.8em;
  color: white;
  margin: left;
  float: left;
  padding: 0.8em;
  margin-right: 0.5em;
}

#openProj, #sourceCode{
  display: inline-block;
  background-color: inherit;
  color: white;
  border: none;
  font-size: 1.1em;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 1.2em;
}
#openProj a, #sourceCode a{
  text-decoration: none;
  color: white;
}
#openProj span, #sourceCode span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#openProj span:after, #sourceCode span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#openProj:hover span, #sourceCode:hover span {
  padding-right: 25px;
}
#openProj:hover span:after, #sourceCode:hover span:after {
  opacity: 1;
  right: 0;
}

/*Design Project Section*/
.hoverJump:hover{
  transform: translateY(-7px);
  transition: 0.5s ease;
}

.viewMore{
  width: 100%;
  text-align: center;
  margin-top: 5%
}
#viewMoreProj{
  background-color: inherit;
  border: 1px solid #d97f8d;
  color: #d97f8d;
  padding: 1em;
}
#viewMoreProj:hover{
  background-color: #782331;
}

/*Contact Me Page*/
#contact{
  text-align: center;
  box-sizing: border-box;
  padding-top: 1em;
  padding-left: 3em;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.2em;
  color: white;
}
#icons{
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
}
#emailModal{
  width:50%;
  top: 25%;
  left: 25%;
}

#linkedinIcon, #emailIcon, #githubIcon{
  width: 5em;
  height: 5em;
  display: block;
}
#linkedin, #email, #github{
  width: 8em;
  height: auto;
  margin-top: 2em;
  margin-left: 1.5em;
  background-color: inherit;
}
#emailIcon:hover{
  cursor: pointer;
}


/*Scroll Button*/
#upImg{
  width: 3em;
  height: 3em;
  float: right;
  bottom: auto;
  position: relative;
  margin-bottom: 35%;
}

#topButton {
    position: fixed;
    bottom: 1em;
    right: 30px;
    display: none;
}

#topButton:hover {
  cursor: pointer;
  width: 3.5em;
  height: 3.5em;
}

#copyrightBar{
  background-color: black;
  color: white;
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
  width: 100%;
  font-family: 'Cinzel', serif;
}

/*Smartphone View*/
@media screen and (max-width:600px) {
/*Index*/
#logoImage{
  height: auto;
  width: 40%;
  margin-left: 35%;
}
/*Remove hover effect*/
#introText{
  display: none;
}
#logo:hover #logoImage{
  opacity: 1;
}

/*About Me Page*/
#about{
  box-sizing: border-box;
  padding-top: 3.5em;
  padding-left: 1em;
  margin-left: 1%;
  margin-right: 1%;
}

.background {
  grid-column: 1/span 2;
  grid-row: 1;
}
.education {
  grid-column: 1;
  grid-row: 2;
}
.skills {
  grid-column: 2;
  grid-row: 2;
}

/*Work Page*/
#workExp{
  padding-left: 1em;
  margin-left: 1%;
  margin-right: 1%;
}

.flex-container {
  flex-direction: column;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  width: 2px;
  left: 5%;
}

/* Container around content */
.container-timeline {
  padding: 10px 20px;
  position: relative;
  width: 90%;
}

/* The circles on the timeline */
.container-timeline::after {
  width: 15px;
  height: 15px;
  left: -7%;
  border: 2px solid #d97f8d;
}

/* Place the container to the left */
.left {
  left: 10%;
}

/* Place the container to the right */
.right {
  left: 10%;
}

/* Change arrows to the left container (pointing left) */
.left::before {
  left: 10px;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.right::before{
  left: 10px;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -7%;
}

span.moreInfoWork{
  opacity: 1;
}
.content:hover span{
  opacity: 1;
}

/*Projects Page*/
#projects{
  padding-left: 1em;
  margin-left: 1%;
  margin-right: 1%;
}

.grid-container-proj {
  grid-template-rows: auto auto;
  grid-template-columns: 95%;
  margin-left: 0;
  margin-bottom: 10%;
}

#credTrackInfo, #theHiveInfo{
  padding-top: 1em;
  padding-right: 0;
}

#credTrackImg, #theHiveImg{
  width: 100%;
}

.carousel-inner{
    height: 625px;
}
.projCol{
  margin-left: -30px;
}

.carousel-control-prev{
  margin-left: 0;
}
.carousel-control-next{
  margin-right: 0;
}

#openProj, #sourceCode{
  margin-top: 0;
  margin-bottom: 10px;
}

/*Design Project Section*/
#designWork{
  width: 96%;
  margin-left: 1%;
}

/*Contact Me Page*/
#contact{
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 25%;
  margin-bottom: 10%;
  font-size: 1.2em;
}
#icons{
  width: 95%;
  /* margin-left: 3%; */
  margin-right: 2%;
  margin-bottom: 15%;
  left: 20%;;
}
#emailModal{
  width:75%;
  top: 25%;
  left: 12%;
}

#upImg{
  width: 2em;
  height: 2em;
  }
#topButton{
  bottom: 4em;
}

}
